body{
	margin: 0;
	width: 100%;
	background: black;
	background-image: url("pleasant_background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	/* background-origin: content-box; */
	overflow: hidden;
	position: absolute;
	height: 100%;
}

#face {
	height: 256px;
	width: 256px;
	display: block;
	font-size: 50px;
	margin: auto;
	margin-top:120px;
	margin-bottom:50px;
}

div {
	position: absolute;
	height: 100px;
	width: 110%;
	background: black;
	left: -5%;
}

#topbar {
	top: -50px;
}

#bottombar {
	bottom: -50px;
}

#spin-button {
	margin: auto;
	display: block;
	width: 192px;
	height: 108px;
	background: #0000ff;
	color: white;
	border: none;
	font-family: Impact, sans-serif;
	font-size: 32px;
	border-radius: 5px;
	transition-property: width, height, background;
	transition-duration: 0.05s;
}

#spin-button:hover {
	background: #4444ff;
}

#spin-button:active {
	background: #8888ff;
	width: 186px;
	height: 104px;
}

#spin-button:disabled {
	background: #664466;
	color: black;
}

#boom {
	visibility: hidden;
	position: absolute;
	width: 80%;
	height: 700px;
	top: 0;
	margin: auto;
	left: 0;
	right: 0;
	
}

#shame {
	position: absolute;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
	top: 150px;
	color: red;
	font-family: Georgia, serif;
	font-size: 72px;
	opacity: 0;
	transition-duration: 2.5s;
}